*{
    font-family: Barlow Semi Condensed, Bold Italic;
    /* background: white; */
    font-size: 16px;
}

.container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.example-container {
  margin: 0;
  padding: 0;
  width: 38vw;
  height: 69vh;
  background:#6C727C ;

}

  .example-sidenav-content {
    width: 13vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border:2px solid white;
    /* border-radius: 0 70px 70px 0; */
    background: #F7F7F7;
  }

  .example-sidenav {
    padding: 0;
    margin: 0;
    /* border: 1px white solid; */
    background: #F7F7F7;
    width: 57vw;
    height: 17vh;
  }

.container2{
    margin:0;
    padding: 0;
    width: 61vw;
    height: 100vh;
    background: #6C727C;
}

.button-menu{
    font-size: 15px;
    border: 1px solid white;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 10px;
    height: 5vh;
    width: 10vw;
    justify-content: start;
    align-content: flex-start;

}

.list-hamburguer .button-menu{
color: black;
font-weight: bold;
background: white;
}

.image img{
    width: 8vw;
    height: 10vh;
    background: #F7F7F7;
}

.buttons-list ol button:hover{
    background: #FFE867;
    border-radius: 30px;
}

.list-hamburguer {
    padding: 0;
    margin: 0;
    width: 60vw;
    height: 17vh;
    background: #F7F7F7;
    /* border: 2px solid white; */
}

.buttons-list2{
    background: #F7F7F7;
    margin: 0;
    padding: 0;
}

.buttons-list ol{
    width: 10vw;
    height: 30vh;
    margin: 0;
    padding: 0;
}

.container-hamburguers {
    border: none;
    margin:0;
    padding: 0;
    /*padding: 2em 1em 0 1em;*/
    border-radius: 0  10px 10px  0;
    width: 32vw;
    height: 69vh;
    background: #f7f7f7;
}

.button-mat{
    padding: 0;
    margin: 0;
    background: #F7F7F7;
}

.nameProduct{
  background: white;
  border-radius: 24px;
  color: black;
  font-size: 25px;
  padding: 10px;
  margin: 8px;
}





/* MENU ORDER */
.container-order{
    border: #F7F7F7  solid 1px;
    border-radius: 20px 0 0 30px;
    /* background-color: white; */
    width: 25vw;
    height: 100vh;
    font-family: Barlow Semi Condensed, Bold, serif;
    font-size: 34px;
    padding: 0;
    margin: 0;
  }

  .container2-order{
    border: #F7F7F7  solid 1px;
    border-radius: 20px 0 0 30px;
    /* background: white; */
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 100vh;
  }

  .main p{
    font-size:25px;
    font-weight: bold;
    margin: 10px;
    padding: 0;
  }

  .mdl-button--fab{
    padding: 0;
    margin: 0;
    border-radius: 50px;
  }

  .name-order p{
    margin: 0;
    padding: 0;
  }

  .person-order p{
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 5vh;
    background: #FFE867;
    opacity: .29;
  }

  .person-order2 p{
    margin: 0;
    padding: 0;
    width: 10vw;
    height: 5vh;
    background: #FFE867;
    opacity: .29;
  }

  .name-order{
    width: 20vw;
    height: 10vh;
  }

  .person-order{
    width: 20vw;
    height: 30vh;
    background: white;
  }

  .section-person{
    width: 25vw;
    height: 10vh;
    background: #FFE867;
    opacity: 0.29;
  }


  .main{
    height: 10vh;
    width: 25vh;
    background: white;
  }

  #input-customer{
    width: 5vw;
  }

  .collection{
    list-style: none;
    height: 20vh;
    width: 20vw;
    padding: 0;
    margin: 0;
    overflow:scroll;
  }

  .orders-person{
    height: 20vh;
    width: 20vw;
    padding: 0;
    margin: 0;
  }

  .section-person2{
    width: 25vw;
    height: 10vh;
    background: #FFE867;
  }

  .btn-sendOrder{
    background: black;
    border-radius: 24px;
    color: white;
    width: 22vw;
    padding: 10px;
  }

  .clear{
    color: #6C727C;
  }

  .table {
  width: 25vw;
  height: 1vh;
  overflow: scroll;
  }

  .table div{
    width: 25vw;
    height: 2vh;
    }

    .mat-icon{
      cursor: pointer;
    }


    .btn-cancel {
      border: none;
      background: #F7F7F7;

    }

    .mat-icon-2 {
     font-size: 37px;
      padding-top: 2em;
    }


.content-table {
  margin: 0;
  padding: 0;
}


.content-table p {
    margin: 0.5em  0;
    padding: 0;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: Barlow Semi Condensed, Bold Italic, sans-serif;


  }


.product-img {
  margin: 0;
  width: 9em;
  text-align: center;

}

/*modal para hamburguesa*/

.product-modal {
  width: 38vw!important;
  height: 69vh!important;
  background: #F7F7F7;
  border-radius: 0  10px 10px  0!important;
  opacity: 1;
}

.title-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxText {
  padding: 2em 3em;
}

.nameProduct {
  text-align: left;
  font-family:Barlow Semi Condensed, Bold Italic, sans-serif;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 0;
  color: #000000;
  background: #F7F7F7
}

.contend-btn {
  display: flex;
  justify-content: flex-end;
}
.save-btn {
  margin: 2em 0;
  width: 90px;
  height: 37px;
  background: #F7F7F7 ;
  border:  #F7F7F7 solid 1px;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 24px;
  text-align: center;
  font-family:  Barlow Semi Condensed, Bold Italic, sans-serif;
  font-size: 14px;
  color: #000000;

}

.cancel-btn {
  margin: 2em 2em 2em 1em;
  width: 90px;
  height: 37px;
  background: #F7F7F7 ;
  border:  #F7F7F7 solid 1px;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 24px;
  text-align: center;
  font-family:  Barlow Semi Condensed, Bold Italic, sans-serif;
  font-size: 14px;
  color: #000000;

}

button:hover{
  background-color: #FFE867;
}

fieldset {
  border: none
}

.especifics {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: black solid 1px;
  background: #F7F7F7;
  color: black;
}

.btn-order {
  border: none;
  background: #F7F7F7;
}

.mat-icon-clear {
  font-size: 37px;
}


@media (min-device-width :768px){

  .container-hamburguers {
    width: 37vw;
    height: 57vh;
  }

}


