<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap" rel="stylesheet">

<div class="container" fxLayout="row" fxLayoutAlign="start">
  <div class="example-sidenav-content" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="image">
      <img src="./assets/logo.png" alt="">
    </div>

    <div class="buttons-list">
      <ol class="buttons-list2" fxLayout="column" fxLayoutAlign="center center">
        <button type="button" mat-button (click)="drawer.toggle();prueba('Hamburguesas')" class="button-mat">
          Hamburguesas
        </button>

        <button type="button" mat-button (click)="drawer.toggle();prueba('Pizzas')" class="button-mat">
          Pizzas

        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Ensaladas')" class="button-mat">
          Ensaladas
        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Bebidas')" class="button-mat">
          Bebidas
        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Paquetes')" class="button-mat">
          Paquetes
        </button>
      </ol>
    </div>

    <button
             [routerLink]="['/']"
             routerLinkActive="router-link-active"
             class="btn-cancel"><mat-icon class="mat-icon-2">cancel</mat-icon>
    </button>
  </div>

  <div class="container2" fxLayout="column" fxLayoutAlign="center start">
    <mat-drawer-container class="example-container" autosize fxLayout="row" fxLayoutAlign="start center">
      <mat-drawer #drawer  class="container-hamburguers" mode="side" fxLayout="column" fxLayoutAlign="start center">
        <mat-grid-list  cols="2"  class="content-table" >
          <mat-grid-tile class="content-table" *ngFor="let product of products" (click)="drawer2.toggle()">
            <figure class="product-img"><img src="{{product.img}}" alt="{{product.name}}" ><p>{{product.name}}</p></figure>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-drawer>

      <mat-drawer #drawer2  class="product-modal" mode="side" fxLayout="column" fxLayoutAlign="start center">
        <div class="boxText" *ngFor="let product of products">
          <div class="title-product">
            <p class="nameProduct" >{{product.name}}</p>
            <figure class="product-img"><img src="{{product.img}}" alt="{{product.name}}" ></figure>
          </div>


          <fieldset>
            <label>
              <input type="radio" name="size">{{product.type[0]}}  ${{product.price[0]}}
            </label>
            <label>
              <input type="radio" name="combo" >
            </label> {{product.type[1]}}  ${{product.price[1]}}
          </fieldset>
          <fieldset>
            <legend>Pan:</legend>
            <label>
              <input type="radio" name="masa madre" >
            </label>{{product.pan[0]}}
            <label>
              <input type="radio" name="pan tradicional" >
            </label>{{product.pan[1]}}
          </fieldset>
          <fieldset>
            <legend>Ingredientes:</legend>
            <label>
              <input type="radio" name="pan" value="con todos los ingredientes">
            </label>{{product.ingredientes[0]}}
            <label>
              <input type="radio" name="ingredients" value="sin algun ingrediente">
            </label> {{product.ingredientes[1]}}
          </fieldset>
          <p>Especificaciones: <input class="especifics" type="text"></p>
          <div class="contend-btn">
            <button class="save-btn" (click)="onAddProduct(product)">
              Guardar
            </button>
            <button class="cancel-btn" >
              Cancelar
            </button>
          </div>

        </div>

      </mat-drawer>
    </mat-drawer-container>
  </div>


  <!-- Comanda -->
  <div class="container-order" fxLayout="column" fxLayoutAlign="start start">
    <div class="container2-order" fxLayout="column" fxLayoutAlign="start center">
      <div class="main" fxLayout="row" fxLayoutAlign="start start">
        <p>Mesa 1</p>
        <button class="mdl-button mdl-button--fab">
          <mat-icon class="icon">person_add</mat-icon>
        </button>
      </div>


      <table mat-table [dataSource]="dataSource" class="table">
        <div matColumnDef="orderNumber">
          <p mat-header-cell *matHeaderCellDef></p>
          <td mat-cell *matCellDef="let element"> Orden #{{element.orderNumber}} </td>
        </div>
        <div matColumnDef="customerName">
          <p mat-header-cell *matHeaderCellDef></p>
          <td mat-cell *matCellDef="let element">Cliente: {{element.customerName}} </td>
        </div>
        <div matColumnDef="actions">
          <p mat-header-cell *matHeaderCellDef></p>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="onChangeStatus(element)">edit</mat-icon>
            &nbsp;
            <mat-icon (click)="onDelete(element.id)">clear</mat-icon>
          </td>
        </div>
        <!-- <tr mat-header-row></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>




      <br>
      <div class="section-person" fxLayout="row" fxLayoutAlign="space-around start">
        <p>Persona 1</p>
        <p>$</p>
        <!-- <div matColumnDef="products">
            <p mat-header-cell *matHeaderCellDef></p>
            <td mat-cell *matCellDef="let element">{{element.products}} </td>
          </div> -->
      </div>
      <div class="orders-person">
        <ul class="collection" fxLayout="column" fxLayoutAlign="start start">
          <li *ngFor="let order of tempOrder">
            <a (click)="removeItemOrder(order)">
              <mat-icon class="clear">clear</mat-icon>
            </a>
            <span>{{order}}</span>
          </li>
        </ul>
      </div>

      <div class="section-person2" fxLayout="row" fxLayoutAlign="space-around start">
        <p>Total</p>
        <p>$ <span>{{totalOrder}}</span></p>
      </div>
      <br>
      <button class="btn-sendOrder" (click)="onSubmit()" >Enviar a cocina</button>

      <!-- </div> -->

    </div>
  </div>
</div>

