
<form [formGroup]="this.orderService.myForm" class="modalOrden">
  <h4>Ingresa los siguientes datos:</h4>
        <table cellspacing="0" >
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Input" #orderNumber maxlength="3" placeholder="Número de orden" formControlName="orderNumber">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Input" #customerName maxlength="13" placeholder="Nombre de Cliente" formControlName="customerName">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn-send" routerLinkActive="active"   routerLink="/take-order" [mat-dialog-close]="true">Enviar</button>
            </td>
          </tr>
        </table>
      </form>


      
