
<div mat-dialog-content >
  <h1 mat-dialog-title>EFECTIVO</h1>
  <ul>
    <li>
     Total por pagar :  <span>${{totalOrder}}</span>
    </li>
    <li>
     Total con propina (10%): <span>${{totalOrder*1.10 | number}}</span>
    </li>
    <!-- <li>
    <form [formGroup]="this.orderService.myForm2" (ngSubmit)="onSubmit()" class="modalOrden2">
    <mat-form-field>
     Paga con:  <input matInput placeholder="Input" #pagaCon maxlength="3" placeholder="Order Numbrer" formControlName="pagaCon">
     <button (click)="cambio()">Calcular</button>
     {{pagaCon}}
    </mat-form-field>
    </form>
    </li> -->
    <!-- <li>
      Total:  <span>{{(totalOrder*1.10 | number)}}</span>
    </li> -->
  </ul>

<br>
<br>  
<div  fxLayout = "row"   fxLayoutAlign="space-around" class="">
  <button mat-raised-button class="btn-cancel" > Cancelar</button>
  <button mat-raised-button class="btn-pay" routerLinkActive="active"   routerLink="/">Pagar</button>
</div>  
<br>

  <mat-grid-list cols="3" rowHeight="30px" class="container-bill">
    
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile"> 
          <button class="button-number">1</button>
      </mat-grid-tile>    
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile" > 
          <button class="button-number">2</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile"> 
          <button class="button-number">3</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">  
          <button class="button-number">4</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile" >  
          <button class="button-number">5</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">
          <button class="button-number">6</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile" >
          <button class="button-number">7</button>  
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">
          <button class="button-number">8</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">  
          <button class="button-number">9</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile gray">
         
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile " >
          <button class="button-number">0</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile"> 
          <button  class="button-delete">Borrar</button> 
      </mat-grid-tile>
  </mat-grid-list>
</div>
